@import url(RIXtext.css);
@import url(Nanum.css);

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    background-color: #222831;
}

.pv {
    width: 512px;
    height: 256px;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.pv > div {
    width: 100%;
    height: 100%;
    background-size: 512px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

input[type = "file"] {
    display: none;
}

.upload {
    display: inline-block;
    padding: 5px;
    background: #94B3FD;
    color: white;
    font-size: 50px;
    font-family: NanumSquare;
    transition: all .4s;
    cursor: pointer;
    border-radius: 10px;
}

.upload:hover {
    background: #94DAFF;
    color: white;
}

.title {
    background: #E5707E;
    text-align: center;
    font-size: 40px;
    font-family: rixyeoljeongdoregular;
    border-bottom: 3px solid black;
    padding: 10px;
    color: white;
    margin: 0px;
}

.center {
    text-align: center;
}

#back {
    left: 10px; bottom: 10px;
    position: absolute;
    padding: 5px;
    background-color: #30475E;
    color: white;
    font-size: 30px;
    font-family: NanumSquare;
    border-radius: 10px;
    border: 1px solid white;
}

.load {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0;
    animation: intro 1s;
}

#loading {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes intro {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}